{
  "presets": [
    ["env", { "modules": false }],
    "es2015"
  ],
  "plugins": [
    "transform-runtime",
    ["transform-react-jsx", {
      "pragma": "m"
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
