@import "normalize-css";

@import "_code.css";
@import "_tests.css";
@import "_buttons.css";

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#app {
  padding: 0 1rem;
  margin: 60px auto 0;
  max-width: 50em;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
